.App-header {
  background-color: rgb(8, 120, 92);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: black(0, 0, 0);
  width: 100vw;
  margin: 0%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.hidden {
  display: none;
}

body {
  background-color: black;
  color: white;
}