.single-movie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}

.individual-movie-image {
  height: 400px;
  margin: 3vw;
}

.movie-info {
  background-color: rgba(52, 52, 52, 0.6);
  padding: 2vw;
  margin: 3vw;
  word-wrap: normal;
}

.back-home {
  border-radius: 10%;
  background-color:  rgb(8, 120, 92);
  color: white;
  font-size: 2em;
  font-family: 'Metal Lady';
  padding: 10px;
}
